# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

#sims
/sims/queue_time.csv
/sims/mission_time.csv
/sims/flight_time.csv
/sims/drop_probability.csv